{% extends 'products/base.html' %}
{% load humanize %}

{% block content %}
    <section>
        {% if orders %}
            <div class="container pt-5">
                <div class="text-center mt-5">
                    <h1>Заказы</h1>
                    <div class="orders mt-5">
                        <table class="table">
                            <thead>
                            <tr class="table-light">
                                <th scope="col">#</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Создан</th>
                                <th scope="col">Итого</th>
                                <th scope="col">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <th scope="row">{{ order.id }}</th>
                                    <td>{{ order.get_status_display }}</td>
                                    <td>{{ order.time_created|naturaltime }}</td>
                                    <td>{{ order.basket_histore.total_sum|intcomma }} руб.</td>
                                    <td>
                                        <a href="{% url 'orders:look_order' order.pk %}"
                                           class="btn btn-outline-info btn-sm">
                                            просмотреть
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container pt-5">
                <div class="text-center pt-5">
                    <h1 class="pt-5">У вас нет заказов.</h1>
                    <a href="{% url 'products:index' %}" class="btn btn-dark btn-lg">В каталог</a>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
